body{
    font-family: Arial,sans-serif;
    background: #030000;
    padding: 20px;
    text-align: center;
}
 .video-box{
    background: #00f7ff;
    padding: 10px;
    border: 6px;
    max-width: 560;
    margin: auto;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 1);

 }
   video{
    width: 100%;
    border-radius: 4px;
   }
   .info{
    margin-top: 8px;
   }
   .info h3{
     font-size: 16px;
     margin: 4px 0;
     color: #ff0000;
   }
   .info p{ 
    font-size: 13px;
    color: #ffee00;
   }
   